body{

    width: 1500px;
    
}
   
.col-lg-2{

    border: 1px solid black;
    margin-left: 15px;
    text-align: center;
}
.car{
    width: 200px;
    margin-left:20px;
}
.hidden{

    display: none;
}
